* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(max-width: 991px){
    main{
        margin-top: -3.5rem;
    }
    aside{
        display: flex;
        justify-content: center;
        
    }

    #img-perfil{
        width: 80%;
    }
   
    #container-txt01{
        text-align: center;
    }

    #container-icon{
        display: flex;
        justify-content: center;
        gap: 2%;
        padding-bottom: 1rem;
    }

    .icon-dev{
        width: 10%;
    }

    #container-btn{
        display: flex;
        justify-content: center;
        gap: 5%;
    }

}