* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}


body {
    background-color: black;
}

.pagina {
    padding: 20px;
}

.font_navbar {
    color: rgb(255, 255, 255);
}

#primeiroTitulo {
    text-align: center;
    font-size: 5rem;
}

#img_home {
    width: 500px;
}


#img_perfil {
    width: 400px;
}

#img_perfil02 {
    display: none;
}

#titulo_sobre {
    font-size: 50px;

}

.carousel-item {
    width: 800px;
    height: 350px;

}

.carrosselmobile{
    display: none;
}

#text_projeto{
    width: 650px; 
    margin:auto;
}

@media(max-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #box_nav{
        column-gap: 480px;
    }

    .navbar-toggler-icon {
        display: flex;
        vertical-align: middle;

    }

    #img_home{
        display: none;
    }

    #img_perfil{
        display: none;
    }

    #img_perfil02{
        display: flex;
        width: 300px;
        margin: auto;
    }

    #box_sobre{
        width: 600px;
    }

    .carrosselItem{
        width: 100%;
    }

    #indicador{
        margin: auto;
    }

    #text_projeto{
        width: 600px;
    }

    .cardsfull{
        display: none;
    }
    .cardsfull01{
        margin: auto;
    }
}

@media(max-width: 770px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #box_nav{
        column-gap: 200px;
    }

    #paragrafoSobre01{
        height: 450px;
    }
     
    #paragrafoSobre02{
        height: 350px;
    }

    .cardsfull{
        display: none;
    }
    .cardsfull01{
       display: none;
    }
    .carrosselmobile{
        display: flex;
        margin: auto;
        width: 290px;
        height: 450px;
    }
    
    #text_projeto{
        width: 300px;
        margin: auto;
    }

    #primeiroTitulo{
        font-size: 40px;
    }

    #img_perfil02{
        width: 200px;
    }

    #h3contato{
        font-size: 20px;
    }
}
